<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
  <add name="SQLSERVER_LOCAL" connectionString="Server=localhost\SQLEXPRESS;Database=biblioteca;Integrated Security=False;User Id=sa;Password=@Jlhf1234;TrustServerCertificate=True;"
   providerName="System.Data.SqlClient" />
  <add name="CRUDbiblioteca.Properties.Settings.bibliotecaConnectionString"
   connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=biblioteca;Persist Security Info=True;User ID=sa;TrustServerCertificate=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>